@import ':sharedStyles';

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dimgrey;
}

.container {
  background-color: $background;
  width: 400px;
  height: 80vh;
  padding-bottom: 80px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.list {
  overflow: auto;
  flex: 1;
}

.header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}