@import './mixins.scss';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');

:global(.text16) {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
}

:global(.text14) {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 14px;
}

:global(.text12) {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 12px;
}

:global(.spinnerBackground) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
}

:global(.spinner) {
  width: 40px;
  height: 40px;
  background-image: url('../../assets/images/c.svg');
  animation: rotation 5s linear 0s infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:global(.textBtn) {
  background: none;
  border: none;
  cursor: pointer;
}