:global(.transitional) {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
}

:global(.route-transition-enter) {
  opacity: 0;
  z-index: 1;
}

:global(.route-transition-enter.route-transition-enter-active) {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

:global(.route-transition-exit) {
  opacity: 1;
  z-index: 1;
  transition: opacity 250ms ease-in;
}

:global(.route-transition-exit.route-transition-exit-active) {
  opacity: 0;
}
// ---------------------------
:global(.modal-transition-enter) {
  opacity: 0;
  transform: scale(1.05);
  z-index: 1;
  transition: all 250ms ease-in-out;
  transform-origin: center;
}

:global(.modal-transition-enter.modal-transition-enter-active) {
  opacity: 1;
  transform: scale(1);
  
}

:global(.modal-transition-exit) {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
  transition: all 250ms ease-in-out;
  transform-origin: center;
}

:global(.modal-transition-exit.modal-transition-exit-active) {
  transform: scale(1.05);
  opacity: 0;
}
