$background: #F9F9F9;
$background-c: #FFF8DE;
$background-lc: #F7FCFF;
$background-hc: #f8f8f8;
$background-s: #e1edf4;
$background-lr: #f0f0f0;
$background-hr: #EAEAEA;
$background-t: #dcdcdc;
$background-h: #d1d2d3;
$background-sl: #f2f2f2;
$background-sn: #EEF6F9;