@import ':sharedStyles';

.container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  &.c {
    background-color: $background-c;
    .icon {
      background-image: url('../../assets/images/c.svg')
    }
  }
  &.h {
    background-color: $background-h;
    .icon {
      background-image: url('../../assets/images/h.svg')
    }
  }
  &.hc {
    background-color: $background-hc;
    .icon {
      background-image: url('../../assets/images/hc.svg')
    }
  }
  &.hr {
    background-color: $background-hr;
    .icon {
      background-image: url('../../assets/images/hr.svg')
    }
  }
  &.lc {
    background-color: $background-lc;
    .icon {
      background-image: url('../../assets/images/lc.svg')
    }
  }
  &.lr {
    background-color: $background-lr;
    .icon {
      background-image: url('../../assets/images/lr.svg')
    }
  }
  &.s {
    background-color: $background-s;
    .icon {
      background-image: url('../../assets/images/s.svg')
    }
  }
  &.sl {
    background-color: $background-sl;
    .icon {
      background-image: url('../../assets/images/sl.svg')
    }
  }
  &.sn {
    background-color: $background-sn;
    .icon {
      background-image: url('../../assets/images/sn.svg')
    }
  }
  &.t {
    background-color: $background-t;
    .icon {
      background-image: url('../../assets/images/t.svg')
    }
  }
}

.icon {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

.dayContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tempContainer {
  display: flex;
  align-items: center;
}
